nav {
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e4e;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    .left {
        display: flex;
        gap: 1rem;

        .apple-icon img {
            height: 20px;
        }
    }

    .right {
        display: flex;
        gap: 1rem;

        .nav-icon img {
            height: 20px;
        }
    }
}